name: Broadlink Manager v2 (Alpha)
version: "0.3.0-alpha.15"
slug: broadlink-manager-v2
description: Next-generation Broadlink device manager with Vue 3 interface (Alpha)
arch:
  - amd64
  - aarch64
  - armv7
startup: application
boot: manual
init: false
auth_api: true
ingress: true
ingress_port: 8099
panel_icon: mdi:remote
options:
  log_level: info
  auto_discover: true
schema:
  log_level: list(trace|debug|info|warning|error|fatal)?
  auto_discover: bool?
homeassistant_api: true
hassio_api: true
hassio_role: default
map:
  - config:rw
